.service-container{
  flex-direction: column;
  margin: 0;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.testimonial{
 flex-wrap: wrap;
 margin: 0 38px 0 38px;
}
header li{
  margin-left: 0;
}
header ul{
  margin-left: 10px;
}
.service-items{
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin: 10px 0px 10px 0px;
}
.partner-logo{
  width: 66px;
  height: 66px;
  margin: 30px;
}
.form1{
  width: 200px;
}
nav{
  margin-left: 12px;
}
